body{
  
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    max-width: 545px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px;
    overflow: hidden;
    padding-bottom: 14px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 50px;
    background-color: rgb(28, 27, 27);
    color: aliceblue;
    font-size: 3rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(126, 126, 126);
}

#display {
    width: 100%;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: aliceblue;
    background-color: rgb(42, 41, 41);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-right: 0px;
    padding-left: 0px;
}

.operator-btn{
    background-color: rgb(239, 185, 86);
}

.operator-btn:hover{
    background-color: rgb(245, 211, 148);
}
